* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Poppins, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 600;
}

div{
  font-family: Poppins, sans-serif !important;
}

html,
body,
#__next {
  min-height: 100vh;
  display: flex;
  flex: 1;
}

#__next {
  flex: 1;
}

#__next > * {
  flex: 1;
}
